<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/we_secure_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sos"
        tools:targetApi="31">
        <activity
            android:name=".newPassword"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".Verification"
            android:exported="false"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:theme="@style/Theme.Sos" />
        <activity
            android:name=".FakeCallX"
            android:exported="false" />
        <activity
            android:name=".FakeCallO"
            android:exported="false" />
        <activity
            android:name=".FakeCallR"
            android:exported="false" />
        <activity
            android:name=".FakeCallV"
            android:exported="false" />
        <activity
            android:name=".FakeCallEdit"
            android:exported="false" />
        <activity
            android:name=".FakeCallSend"
            android:exported="false" />
        <activity
            android:name=".EditScreen"
            android:exported="false" />
        <activity
            android:name=".FakeCallS"
            android:exported="false"
            android:label="Samsung"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>